/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #068ce4, #fed102);
}

header {
  padding: 0.625rem;
  width: 100%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

footer {
  font-family: "Times New Roman", Times, serif;
}

hr {
  border: 1px solid #fed102;
  margin-right: clamp(1rem, 2.5vw, 2.5rem);
  margin-left: clamp(1rem, 2.5vw, 2.5rem);
}

/* Tipografias */

h1,
h2,
h3 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: blue;
}

h3 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: black;
}

p {
  text-align: center;
  margin: clamp(1rem, 2.5vw, 2.5rem);
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: justify;
  hyphens: auto;
  hyphenate-limit-chars: 6 4 4;
  line-height: 1;
}

a {
  color: #00ff00;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

span {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.container span {
  margin-bottom: clamp(1rem, 2.5vw, 2.5rem);
}

strong {
  color: yellow;
}

footer p {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  color: black;
  margin: 0.5rem;
}

.fotos span {
  font-weight: bold;
}

/* Imagens */

.logo {
  margin: 1rem;
  width: clamp(200px, 40vw, 200px);
  height: auto;
}


.imagens {
  margin: clamp(0.5rem, 1vw, 1rem);
  width: clamp(200px, 40vw, 200px);
  border-radius: 25%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

/* ícones */

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.icon i {
  margin: clamp(0.5rem, 1vw, 1rem);
  color: white;
  transition: all 0.5s ease;
}

.social-icon.whatsapp,
.social-icon.outlook {
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Divs */

.redes-sociais {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  margin: clamp(1rem, 2.5vw, 2.5rem);
  padding: clamp(1rem, 2.5vw, 2.5rem);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: clamp;
}

/* Animações */

.social-icon.whatsapp:hover i {
  color: #25d366;
}

.social-icon.whatsapp:active i {
  transform: scale(0.95);
}

.social-icon.outlook:hover i {
  color: #0078d4;
}
